<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="navigation(activeTab)">
    <header  class="page-header page-header-normal">
        <div class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <em>Звони сейчас: 0 800 - 248 -248</em>
                    </div>
                </div>
            </div>
        </div>
        <!-- .page-top -->
        <div id="main-navigation-container">
            <div id="main-navigation-inner">
                <div class="container">
                    <div class="relative-container clearfix">
                        <div id="main-navigation-button"><i class="fa fa-reorder"></i></div>
                        <div id="main-cart-button" class="has-small-label cart-trigger">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="small-label">
                                <span>2</span>
                            </span>
                        </div>

                        <div class="pull-left">
                            <div class="centered-columns">
                                <div class="centered-column">
                                    <img class="page-logo" alt="logo" src="assets/images/logo.png">
                                </div>
                                <div class="centered-column hidden-xs">
                                    <h1 class="site-name">CHIEBUKA RESTAURANT</h1>
                                </div>
                            </div>
                        </div>
                        <nav id="main-navigation">
                            <ul id="one-page-nav">
                                <li th:class="${activeTab == 'home'} ? 'active' : null">
                                    <a href="/home">Главная</a>
                                </li>
                                <li th:class="${activeTab == 'menu'} ? 'active' : null">
                                    <a href="/menu">Меню</a>
                                </li>

                                <li th:class="${activeTab == 'delivery'} ? 'active' : null">
                                    <a href="/delivery">Доставка</a>
                                </li>
                                <li th:class="${activeTab == 'contacts'} ? 'active' : null">
                                    <a href="/contacts">Контакты</a>
                                </li>
                                <li th:class="${activeTab == 'about'} ? 'active' : null">
                                    <a href="/about">О нас</a>
                                </li>
                                <li id="cart-menu-item">
                                    <div class="menu-item has-small-label cart-trigger"><i class="fa fa-shopping-cart fa-2x"></i><span class="small-label"><span>2</span></span>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- .relative-container -->
                </div>
                <!-- .container -->
            </div>
            <!-- #main-navigation-inner -->
        </div>
        <!-- #main-navigation-container -->
        <div id="main-navigation-placeholder"></div>
    </header>
</div>
